#index-content {
  background-image:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(219, 239, 243)),
    color-stop(0.51, rgb(10, 165, 192))
  );
}

.about-content{
  margin: 10px;
  font-family: "Arial";
  font-size: calc(21px + 1vw); /*25px*/
  text-align: center;
  color: rgb(19, 74, 119);
    
}