#index-content {
  background-image:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(219, 239, 243)),
    color-stop(0.51, rgb(10, 165, 192))
  );
}

.title-button{
  margin: auto;
  margin-bottom: 10px;
  width: 70%;
  text-align:center;
  padding:7px;
  border:solid;
  border-radius: 13px;
  border-width:3px;
  border-color:#0054a6;
  background:#0072bc;
  color:#ffffff;
  font-family:"Calibri";
  font-size:23px;
}

#title-buttons{
  position: absolute;
  top: 60%;
  width: 100%;
  margin: auto;
}

#title{
  text-align: center;
  font-size: 40px;
  font-family:"Arial";
  color: rgb(50, 144, 187);
  position: absolute;
  top: 10%;
  width: 100%;
  margin: auto;

}

#icon{
  position: absolute;
  top: 13%;
  height: 50px;
  width: 100%;
  margin: auto;
}

#icon img {
  position: relative;
  height: 50vh;
  width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}